body {
    background-color: RGB(43, 42, 40);
    color: white;
    list-style-type: none;
}

/* Main Div style stuff */

.main-content {
    background-color: RGB(73, 73, 73);
    margin: 0 auto;
    width: 70%;
    padding: 10px;
}

#center {
    text-align: center;
}

/* Navbar Stuff */

.navbar {
    width: 70%;
    margin: 0 auto;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

.navbar li {
    float: left;
}

.navbar li a:hover {
    background-color: RGB(206, 50, 0);
}

.navbar #right {
    float: right;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 8px;
}