body{
  background-color: RGB(43, 42, 40);
  color: white;
  list-style-type: none;
}

.center {
  background-color: RGB(73, 73, 73);
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

.navbar li {
  float: left;
}

.navbar #right {
  float: right;
}

.navbar a {
  display: block;
  padding: 8px;
  background-color: black;
}