body{
  background-color: RGB(43, 42, 40);
  color: white;
  list-style-type: none;
}

.center {
  background-color: RGB(73, 73, 73);
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}